{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Novas Oportunidades | Caixa Angola</title>
        <link href="{% static 'main/images/CGDICON.png' %}" type="image/x-icon" rel="shortcut icon">
        <style>
            .header {height: 150px;}
        </style>
    </head>

    <body>
        <div class="container">
            <div class="header" style="background-color: #0A72D1;">
                <h1 style="text-align: center; color: white;" id="texto">Novas Oportunidades</h1>
            </div>
            <div class="shadow p-4 mb-5 bg-body rounded">
                <div class="main">
                    <form action="" method=POST>
                        {% csrf_token %}

                        {{ form.as_p }}
                        <input type="submit" value="Submeter" class="btn btn-primary">
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </body>

    </html>
{% endblock %}