{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
    <html>

        <head>
            <title>Detalhes da proposta | Caixa Angola</title>
            <link href="{% static 'main/images/CGDICON.png' %}" type="image/x-icon" rel="shortcut icon">
            <style>
                .oportunidade-oportunidades {
                    height: 500px;
                    object-fit: cover;
                }
            </style>
        </head>

        <body>
            <div class="container">
                <div class="header" style="background-color: #0A72D1; height: 150px;">
                    <h1 style="text-align: center; color: white;" id="texto">Detalhes da proposta</h1>
                </div>
                <div class="main">
                    <div class="shadow p-4 mb-5 bg-body rounded">
                    <div class="card">
                        {% if oportunidade.oportunidades %}
                        {% endif %}
                        <div class="card-header">
                            {{ oportunidade.nome }}
                        </div>
                        <div class="card-body">
                            {% if oportunidade.id_number %}
                            <b>ID: </b>{{ oportunidade.id_number }}
                            <br/>
                            {% else %}
                            <b>ID: </b>
                            <br/>
                            {% endif %}
                            <b>Departamento: </b>{{ oportunidade.departamento }}
                            <br/>
                            <b>Email: </b>{{ oportunidade.email }}
                            <br/>
                            <br/>
                            <b>Descrição:</b></br>{{ oportunidade.desc }}
                            <br/>
                            <br/>
                            <b>Recursos de IT: </b>{{ oportunidade.recursos }}
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{% url 'approve_oportunidade' oportunidade.id %}" class="btn btn-outline-secondary">Aprovado</a>
                            <a href="{% url 'delete_oportunidade' oportunidade.id %}" class="btn btn-outline-danger">Não aprovado</a>
                        </div>
                    </div>
                    </br>
                    </br>
                    <a href="/Propostas" class="btn btn-secondary">Voltar</a>
                </div>
            </div>

{% endblock %}