{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html>

        <head>
            <title>Caixa Social | Caixa Angola</title>
            <link href="{% static 'main/images/CGDICON.png' %}" type="image/x-icon" rel="shortcut icon">
            <link href="{% static 'main/estilos.css' %}" rel="stylesheet">
        </head>

        <body>
            <div class="container">
                <div class="header" style="background-color: #0A72D1;">
                    <h1 style="text-align: center;" id="texto">Caixa Social</h1>
                </div>
                <div class="main">
                    <figure><img src="{% static 'main/images/caixaSocial.jpg' %}"></figure>
                    <p style="text-align: center;">Caixa Artes, iniciativa criada em 2017 com o objetivo de promover a língua portuguesa, a arte e a cultura.</p>
                    <h3 style="text-align: center;">Eventos Recentes</h3>
                    <div class="flex-container">
                        <div class="flex-items">
                            <h3 style="text-align: center;">Workshop Criativo com clientes</h3>
                            <p>Realizado no dia 09 de Abril no MAAN com a participação da administração do Banco, de</p>
                            <p>clientes e ministrado pelo pintor Mário Tendinha. Em conjunto produziram quadros</p>
                            <p>individuais e um conjunto que estará exposto na Vernissage.</p>
                        </div>
                        <div class="flex-items">
                            <h3 style="text-align: center;">Workshop Criativo com crianças</h3>
                            <p>Realizado no dia 26 de Março no MAAN com a participação da Administração</p>
                            <p>do Banco, de clientes e ministrado pelo pintor Mário Tendinha. Em conjunto</p>
                            <p>produziram quadros coletivos e ainda uma apresentação de dança.<p>
                        </div>
                     </div>
                     <a href="/" class="button2">Voltar</a>
                </div>
        </body>

    </html>
{% endblock %}