{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Caixa Angola</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/images/CGDICON.png' %}"/>
<link rel="stylesheet" href="{% static 'main/estilos.css' %}">

</head>
<body>
    <div class="container">
        <div class="header" style="text-align: center; font-size: 50px;">
            <p>Criar Conta</p>
            <img src="{% static 'main/images/caixaAngolaSmall.png' %}" title="caixaAngola" style="float: none;">
        </div>
        <div class="main">
            <form style="text-align: center;">
                <span><label for="nome">Nome:*</label><br>                
                    <input type="text" id="nome" name="nome"placeholder="Resposta" autocomplete="off" size="30" autofocus required>
                </span><br> 
                <span><label for="apelido">Apelido:*</label><br>
                    <input type="text" id="apelido" name="apelido"placeholder="Resposta" autocomplete="off" size="30" required>
                </span><br>
                <span><label for="departamento">Departamento:*</label><br>                
                    <input type="text" id="departamento" name="departamento"placeholder="Resposta" autocomplete="off" size="30" required>
                </span><br> 
                <span><label for="email">Email:*</label><br>                
                    <input type="email" id="email" name="email"placeholder="Resposta" autocomplete="off" size="30" required>
                </span><br>
                <span><label for="password">Password:*</label><br>
                    <input type="password" id="password" name="password"placeholder="Resposta" autocomplete="off" size="30" required>
                </span><br>
            </form>
            (*)Campos Obrigatórios devem ser preenchidos
            <div class="containerLogin">
                <div class="Login" style="text-align: right;">
                    <form action="login.html">
                        <input type="submit" class="button2" value="Criar Conta">                        
                    </form>        
                </div>
                <div class="cancel" style="text-align: left;">
                    <a href="login.html" class="button2">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>