{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Caixa Angola</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/images/CGDICON.png' %}"/>
<link rel="stylesheet" href="{% static 'main/estilos.css' %}">
</head>
<body>
    <div class="container">
        <div class="header" style="text-align: center;">
            <figure>
                <img src="{% static 'main/images/caixaAngola.png' %}" title="caixaAngola">
            </figure>
        <div class="main">
            <h2 style="text-align: center;">Recuperar palavra-passe</h2>
            <form>
                <span><label for="recoverAccess">Endereço de Email:</label><br>                
                    <input type="email" id="email" name="email"placeholder="Resposta" autocomplete="off" size="30" required>
                </span>
            </form>
            <form action="login.html">
                <input type="submit" class="button2" value="Redefinir palavra-passe">
            </form>
        </div>
      </div>
</body>
</html>