{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>

<head>
    <title>Caixa Angola | Notas Gestor de Portfólio</title>
    <link href="{% static 'main/estilos.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header" style="background-color: #0A72D1;">
            <h1 style="text-align: center;" id="texto">Notas</h1>
        </div>
        <div class="main">
            <form id="form" style="text-align: center;">
                <input type="search" id="query" name="q" placeholder="Pesquisar" size="100">
                <button>Search</button>
            </form>
            <form>
                <p>Nova Nota:</p>
                <textarea name="message" rows="15" cols="97" placeholder="Resposta"></textarea><br>
                <button>Submeter</button>
            </form>
        </div>
    </div>
    <a href="indexPMO" class="button2">Voltar</a>
</body>

</html>
{% endif %}
{% endblock %}