{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Novas Oportunidades | Caixa Angola</title>
        <link href="{% static 'main/images/CGDICON.png' %}" type="image/x-icon" rel="shortcut icon">
        <link href="{% static 'main/estilos.css' %}" rel="stylesheet">
        <style>
            .container {height: 1750px;}
        </style>
    </head>

    <body>
        <div class="container">
            <div class="header" style="background-color: #0A72D1;">
                <br><br><br>
                <h1 style="text-align: center;" id="texto">Novas Oportunidades</h1>
            </div>
            <div class="shadow p-4 mb-5 bg-body rounded">
            <div class="main">
                <form method="post" action="mailto:nome.apelido@gmail.com" style="text-align: left;">
                    <span><label for="nome">Nome:</label><br>
                        <input type="text" id="nome" name="nome" placeholder="Resposta" autocomplete="off" size="100"
                            autofocus required>
                    </span><br>
                    <span><label for="id">ID:</label><br>
                        <input type="text" id="ID" name="ID" placeholder="Resposta" autocomplete="off" size="100" autofocus
                            required>
                    </span><br>
                    <span><label for="Departamento">Departamento:</label><br>
                        <input type="text" id="Departamento" name="Departamento" placeholder="Resposta" autocomplete="off"
                            size="100" autofocus required>
                    </span><br>
                    <span><label for="Email">Email:</label><br>
                        <input type="email" id="Email" name="Email" placeholder="Resposta" autocomplete="off" size="100"
                            autofocus required>
                    </span><br>
                    <p>Descrição da Oportunidade:</p>
                    <textarea name="message" rows="15" cols="97" placeholder="Resposta"></textarea>
                    <p class="textoTamanho">Recursos de IT são necessários?</p>
                    <input type="radio" id="R14" name="RL" value="Sim"></span>
                    <span><label for="R14">Sim</label>
                        <br><input type="radio" id="R15" name="RL" value="Não"></span>
                    <span><label for="R15">Não</label>
                </form>
            </div>
            <div class="containerSubmit">
                <div class="Login">
                    <a href="/" class="button2">Submeter</a>
                    <a href="/" class="button2">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>
{% endblock %}